@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  	background-color: black;
  	font-family: 'Monsterrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: white;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: white;
}

h1 {
	font-size: 35px;
	margin-top: 30px;
	margin-bottom: 30px;
}


p {
    line-height: 28px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 14px;
}

.centered {
    text-align: center;
}

a {
    color: white;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #c21808;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #c21808;
    margin: 1em 0;
    padding: 0;
}


.navbar {
	text-transform: uppercase;
	margin-bottom: 0px;
}

.navbar-inverse {
	padding-bottom: 1px;
	padding-top: 1px;
}

.navbar-inverse {
	background-color: black;
	border-color: black
}

.navbar-inverse .navbar-nav > li > a {
	color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
	color: #c21808;
}

.navbar-brand {
	font-weight: 100;
	font-size: 17px;
	letter-spacing: 2px;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.navbar-inverse .navbar-toggle {
	border-color: transparent;
}

.progress-bar-theme {
  background-color: #c21808;
}


.mt {
	margin-top: 70px;
	margin-bottom: 10px;
}

.pt {
	padding-top: 0px;
	padding-bottom: 50px;
}


#ww {
	padding-top: 160px;
	padding-bottom: 130px;
	background-color: white;
	background-image: url("../img/bgbody.jpg");
	background-position: center;
	background-size: 1470px;
}

#ww1 {
	padding-top: 137px;
	padding-bottom: 85px;
	background-color: white;
	background-image: url("../img/bgbodyx.jpg");
	background-position: center;
	background-size: 1470px;
}

#ww1 p {
	font-family: Arial;
	font-size: 15px;
	color: black;
}


#ww p {
	font-family: Arial;
	font-size: 15px;
	color: black;
}

#ww img {
	width: 220px;
}

#footer {
	background-color: black;
	text-align: center;
	height: 35px;
}

#footer p {
	color: white;
	margin-bottom: 0;
	margin-top: 0;
	padding-top: 4px;
	font-size: 13px;
}

#greyab {
	padding-top: 75px;
	padding-bottom: 75px;
	background-color: #1b1b1b;
}

#grey {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #1b1b1b;
}

#greybl {
	padding-top: 75px;
	padding-bottom: 75px;
	background-color: #1b1b1b;
}

#white {
	padding-top: 75px;
	padding-bottom: 75px;
	background-color: #0e1013;
}


bd {
	font-size: 12px;
	text-transform: uppercase;
	color: #d2d2d2;
	font-weight: 700;
}

ba {
	font-size: 12px;
	text-transform: uppercase;
}

.bq {
	font-size: 22px;
	padding-top: 30px;
}

bt {
	font-size: 12px;
}

.zoom { 
    display:block; 
    position:relative; 
    overflow:hidden; 
    background:transparent url(../img/loader.gif) no-repeat center;
}


    .zoomOverlay {
        position:absolute;
        top:0; left:0;
        bottom:0; right:0;
        display:none;
        background-image:url(../img/zoom.png);
        background-repeat:no-repeat;
        background-position:center;
    }

.zoom2 {
	opacity: 1;
}

.zoom2:hover {
	opacity: 0.5;
}

.glyphicon {
	font-size: 40px;
	color: #1abc9c;
}
